<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Online Test Taking System</display-name>
	<welcome-file-list>
		<welcome-file>jsp/login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>edu.uic.controller.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.uic.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTest</servlet-name>
		<servlet-class>edu.uic.controller.AddTest</servlet-class>
	</servlet><servlet>
		<servlet-name>ViewStudents</servlet-name>
		<servlet-class>edu.uic.controller.ViewStudents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TakeTest</servlet-name>
		<servlet-class>edu.uic.controller.TakeTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewScores</servlet-name>
		<servlet-class>edu.uic.controller.ViewScores</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/servlet/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TakeTest</servlet-name>
		<url-pattern>/servlet/TakeTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewScores</servlet-name>
		<url-pattern>/servlet/ViewScores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTest</servlet-name>
		<url-pattern>/servlet/AddTest</url-pattern>
	</servlet-mapping>	<servlet-mapping>
		<servlet-name>ViewStudents</servlet-name>
		<url-pattern>/servlet/ViewStudents</url-pattern>
	</servlet-mapping>

</web-app> 